<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Books - Home</title>
<link rel="stylesheet" href="/css/home.css" />
</head>
<body>
	<h1>Sumset Books</h1>
	<hr />
	<div class="container" id="container">
		<form action="#">
			<h1>Search Users</h1>
			<span>please insert your term of search</span> 
			<input type="text" placeholder="Enter one user" />
			<button>Search</button>
		</form>
		<ul>
			<li> <p>Term 1</p> </li>
			<li> <p>Term 1</p> </li>
		</ul>
	</div>
</body>
</html>